@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
}

@mixin flex($a,$b,$c){
    display: flex;
    flex-direction: $a;
    justify-content: $b;
    align-items: $c;
}

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
 
#root{
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
  
section{
    overflow: auto;
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


